body{
	background-image: url(p1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.topnav {
  
  background-color: rgb(90, 60, 20);
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
  font-family: sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-weight: bold;
}

.topnav a.active {
  color: rgb(90, 60, 20);
}
.text1{
	color: white;
	margin-top: 100px;
	width: 500px;
	font-family: sans-serif;
	animation: text 3s 1;
}

@keyframes text{
	0%{
		color: transparent;
		margin-bottom: 20px;
		letter-spacing: 10px;
	}
	20%{
		margin-bottom: -10px;
		letter-spacing: -7px;
	}
	80%{
		margin-bottom: -9px;
		letter-spacing: 10px;
	}
}
.name{
	color: white;
	font-family: sans-serif;
	font-size: 30px;
	margin-bottom: 0px;
	margin-top: 0px;
	cursor: pointer;
	letter-spacing: 1px;
}
.welcome{
	color: white;
	font-family: sans-serif;
	margin-top: 50px;
	margin-bottom: 0px;
}
.heaven{
	color: white;
	font-family: sans-serif;
	font-size: 50px;
	margin-top: 0px;
	color: rgb(90, 60, 20);
	margin-bottom: 20px;
}
.email{
	border: 2px;
}
.signin{
	color: white;
    background-color: rgb(90, 60, 20);
    border: none;
    height: 50px;
    cursor: pointer;
    width: 130px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.15s;
    vertical-align: top;
}
.signin:hover{
	background-color: #ddd;
	color: black;
 	font-weight: bold;
}

a{
	text-decoration: none;
	color: white;
}

.about{
	width: 100%;
	padding: 100px 0px;
}
.about-text{
	width: 550px;
}

.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	text-align: center;
	justify-content: space-around;
}

.about-text h2{
	color: white;
	margin-bottom: 25px;
	font-size: 75px;
	text-transform: capitalize;
}

.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}

.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color: #ddd;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: 0.5s; 
}

button:hover{
	background-color: transparent;
	border: 2px solid #ddd;
	cursor: pointer;
}
.aboutpk{
	
	
}




#fname {

	border: 1px solid grey;
	background-color: black;
	color:white;
}

#email{

	background-color: black;
		color:white;

}


input{
	border:1px solid grey;
	outline:none;
	height: 35px;
	width: 300px;
}



input::placeholder {
	color: grey;
	text-align: center;
}

label, button {

	border: none;
	outline:  none;
}

.shege {
	background-color: rgb(90, 60, 20);
	border:none;
	outline: none;
}